<%- include('../shared/header.html') -%>

<h2><%= title %></h2>
<div class="">
    <form action="/employees/create" method="POST">
        <p>
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" id="FirstName" required />
        </p>
        <p>
            <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" id="LastName" required />
        </p>
        <p>
            <label for="DepartmentId">Department:</label>
            <select name="DepartmentId" id="DepartmentId" required>
                <% departments.forEach((department) => { %>
                    <option value="<%= department._id %>"><%= department.Name %></option>
                <% }) %>
            </select>
        </p>
        <button type="submit">Submit</button>
    </form>
</div>

<%- include('../shared/footer.html') -%>