@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
  margin: 0;
}
#page-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  padding: 25px 20px;
}
#page-header > a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}
#content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
}
ul.employeeList {
  list-style: none;
  padding: 5px 0 5px 20px;
}
#menu {
  width: fit-content;
  float: right;
  clear: both;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
}
#departments {
  list-style: none;
  padding: 5px 0 5px 20px;
}
#welcome-message {
  text-align: center;
}